<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-25([%thread]) %-5level: %-30(%M\(\)): %msg %n</pattern>
        </encoder>
    </appender>

    <logger name="io.grpc" level="OFF" />

    <root level="info">
    <!--    TRACE = FingerTable print-->
    <!--    DEBUG = mainChord operations print-->
    <!--    INFO = TODO-->
    <!--    WARN = TODO-->
    <!--    ERROR = TODO-->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>